@charset "UTF-8";

/**********************
 1. base
 2. slider
**********************/


/**********************
 1. base
**********************/

#wrapper {
	width: 500px;
	margin: 0 auto;
}


#gallery {
}

#gallery_list {
	display: box;
	display: -webkit-box;
	text-align: center;
}
	
	#gallery_list li {
		width: 70px;
		height: 70px;
		margin: 3px;
		border: 1px solid #999;
		text-align: center;
		overflow: hidden;
	}
	
	#gallery_list li.select {
		border-color: red;
	}
	
		#gallery_list li img {
			height: 70px;
			cursor: pointer;
		}

#gallery-container {
	position: relative;
	padding: 20px 0;
	background-color:#000;
}

	#pager li {
		position: absolute;
		top: 175px;
		width: 50px;
		cursor: pointer;
		font-size: 25px;
		text-align: center;
		color: #fff;
	}

	#pager li#next {
		right: 0;
	}

	#pager li#prev {
		left: 0;
	}

	
/**********************
 2. slider
**********************/

#gallery {
	position: relative;
	width: 400px;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
}

	#gallery ul#slider {
		position: absolute;
		top: 0;
		left: 0;
	}

		#gallery ul#slider li {
			float: left;
			width: 400px;
			text-align: center;
		}
